<launch>
	<node name="molar_sensor_layer" pkg="sensor_layer" respawn="true" type="core.py"  output="screen"/>
  <node name="molar_segment_layer" pkg="segment_layer" respawn="true" type="core.py"  output="screen"/>
	<node name="molar_processing_layer" pkg="processing_layer" respawn="true" type="core.py"  output="screen"/>
	<node name="molar_filter_layer" pkg="filter_layer" respawn="true" type="core.py"  output="screen"/>
	<node name="molar_tracking_layer" pkg="tracking_layer" respawn="true" type="core.py"  output="screen"/>



</launch>
